[Desktop Entry]
Encoding=UTF-8
Name=Dashdiff
Comment=Dashdiff P2P Cryptocurrency
Comment[fr]=Dashdiff, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dashdiff, eşten eşe kriptografik sanal para birimi
Exec=dashdiff-qt %u
Terminal=false
Type=Application
Icon=dashdiff128
MimeType=x-scheme-handler/dashdiff;
Categories=Office;Finance;
