[Unit]
Description=Dashdiff's distributed currency daemon
After=network.target

[Service]
User=dashdiffcore
Group=dashdiffcore

Type=forking
PIDFile=/var/lib/dashdiffd/dashdiffd.pid
ExecStart=/usr/bin/dashdiffd -daemon -pid=/var/lib/dashdiffd/dashdiffd.pid \
-conf=/etc/dashdiffcore/dashdiff.conf -datadir=/var/lib/dashdiffd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
